<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary text-light"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Categorias
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-primary text-light">
        <button ngbDropdownItem *ngFor="let category of categories" class="btn btn-outline-primary">
          {{ category }}
        </button>
      </div>
    </div>
  </div>
</div>