<div class="container">
  <div
    class="d-flex justify-content-center align-items-baseline border border-primary px-2 rounded my-2"
  >
    <h1>{{ title | titlecase }}</h1>
    <div class="col"></div>
    <span> version: {{ version }} </span>
  </div>
<!-- TODO: habilitar en etapa de filtrado -->
  <!-- <div
    class="d-flex justify-content-end border border-primary p-2 rounded my-2"
  >
    <money-dropdown [categories]="categories"></money-dropdown>
  </div> -->

  <money-modal></money-modal>
  
  <div class="border border-primary p-2 rounded my-2">
    <money-table [headers]="headers" [items]="buys"></money-table>
  </div>
</div>
