<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers">
        {{ header | titlecase }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; index as i">
      <td>
        {{ item.category | titlecase }}
      </td>
      <td>{{ item.description }}</td>

      <td>{{ item.date | date }}</td>

      <td>{{ item.price | currency }}</td>

      <td class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          (click)="updateBuy(i)"
      
          title="{{ editBuy }} {{ item.description }}"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="deleteBuy(i)"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ removeBuy }} {{ item.description }}"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<footer class="">
  <tr class="d-flex">
    <td class="col"></td>
    <td class="me-3">Total:</td>
    <td class="fw-bold me-3">{{ getTotal() | currency }}</td>
  </tr>
</footer>
